@using voonex.api.client
@using voonex.web.Services
<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

<MudButton OnClick="@OnLogout">Test Logout</MudButton>

@code {

    [Inject]
    public HttpClient HttpClient { get; set; } = null!;

    [Inject]
    public ILoginManager LoginManager { get; set; } = null!;
    
    private async Task OnLogout()
    {
        var client = new Client("https://localhost:7026", HttpClient);
        await client.LogoutAsync();
        await LoginManager.RefreshLoginStateAsync();
    }

}