@using voonex.api.client
@using voonex.eventhub
@using voonex.web.Events
@using voonex.web.Services
<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

<MudButton OnClick="@OnLogout">Test Logout</MudButton>

@code {

    [Inject]
    public ClientFactory ClientFactory { get; set; } = null!;

    [Inject]
    public IEventHub EventHub { get; set; } = null!;
    
    private async Task OnLogout()
    {
        var client = ClientFactory.CreateClient();
        await client.LogoutAsync();
        
        EventHub.Send(new LogOutEvent());
    }
}