@using voonex.web.Services
@using voonex.api.client
<MudContainer Style="height:100%;">
    <div class="d-flex flex-column justify-space-between py-3" style="height:100%;">
        <div>hello</div>
        <MudForm @ref="@_form">
            <div class="d-flex flex-row">
                <MudTextField Class="pr-3" @bind-Value="@_model.Message"/>
                <MudIconButton Class="rounded-pill" Icon="@Icons.Filled.Send" Variant="Variant.Text" Color="Color.Primary"
                                                           OnClick="@OnSendChatMessage"></MudIconButton>
            </div>
            
        </MudForm>
    </div>
    
</MudContainer>

@code {
    [Parameter] 
    public Guid ServerId { get; set; }

    [Inject]
    public ClientFactory ClientFactory { get; set; } = null!;

    private async Task OnSendChatMessage()
    {
        if (string.IsNullOrEmpty(_model.Message))
        {
            return;
        }

        var client = ClientFactory.CreateClient();
        await client.SendChatMessageAsync(new SendMessageRequest()
        {
            ServerId = ServerId,
            Message = _model.Message
        });
    }

    public class ChatMessageModel
    {
        public string Message { get; set; } = "";
    }

    private MudForm _form = null!;
    private readonly ChatMessageModel _model = new ();
}