@using voonex.api.client
@using voonex.web.Services

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">voonex</MudText>
    <MudText Align="Align.Center">Literally a worse discord clone! Just text chat and nothing else!</MudText>
    <div class="d-flex flex-row justify-center mt-5">
        <MudButton Color="@Color.Primary" OnClick="@OnLogin">Login</MudButton>
        <MudButton Color="@Color.Secondary" OnClick="@OnRegister">Register</MudButton>
    </div>
</MudContainer>

@code {
    
    [Inject]
    public HttpClient HttpClient { get; set; } = null!;
    
    [Inject]
    public IDialogService DialogService { get; set; } = null!;

    [Inject]
    public ILoginManager LoginManager { get; set; } = null!;

    private void OnLogin() => DialogService.Show<LoginDialog>("Login", new DialogOptions()
    {
        CloseButton = true,
        MaxWidth = MaxWidth.Medium,
    });

    private void OnRegister() => DialogService.Show<RegisterDialog>("Register", new DialogOptions()
    {
        CloseButton = true,
        MaxWidth = MaxWidth.Medium,
    });
}