<MudPaper Width="250px" Elevation="0" Height="100%">
    
    <div class="d-flex justify-space-between flex-column" style="height:100%;">
        <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Tertiary" Class="pa-2">
                <MudNavLink Href="/dashboard" Icon="@Icons.Filled.Dashboard" Match="@NavLinkMatch.All">Dashboard</MudNavLink>
                <MudDivider></MudDivider>
                @* show user servers *@
        </MudNavMenu>
        <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Tertiary" Class="pa-2">
            <MudNavLink Href="/server/create" Icon="@Icons.Filled.AddCircle" Match="@NavLinkMatch.All">Create Server</MudNavLink>
        </MudNavMenu>
    </div>

</MudPaper>